@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Импорт шрифтов */

/* 
 * SS220 SS14 Вики 
 * Файл с дополнительными стилями 

 0. Понамешанное
 1. Модификация темы
 2. Дополнительные стили таблиц
 2.1. Таблицы ролей
*/

/* 0. Понамешанное */

.md-grid {
  max-width: 1600px;
}

.spacelaw tbody td {
  background: linear-gradient(rgba(45, 45, 46, 0.199), rgba(41, 39, 39, 0.151));
}
table.spacelaw tbody td+td+td+td+td+td {
  background-color: rgba(15, 15, 15, 0.801);
  
}
table.spacelaw tbody td+td+td+td+td {
  background-color: rgb(141, 18, 18)
}
/* overwrite background again */
table.css2 tbody tr + tr td + td + td { 
  background-color: inherit;
}
table.spacelaw tbody td+td+td+td {
  background-color: rgba(216, 57, 17, 0.623);
}
table.spacelaw tbody td+td+td {
  background-color: rgba(196, 199, 18, 0.603);
}
table.spacelaw tbody td+td {
  background-color: rgba(21, 180, 29, 0.589);
}
table.spacelaw tbody td {
  background-color: rgba(0, 0, 0, 0.233);
}
table.sentencingmodifiers tbody tr  {
  background-color: rgb(128, 19, 19);
}
table.sentencingmodifiers tbody tr+tr  {
  background-color: rgba(209, 24, 24, 0);
}
table.prisonerabuse tbody tr {
  background-color: rgb(133, 22, 22);
}
table.prisonerabuse tbody tr+tr {
  background-color: rgba(156, 22, 22, 0);
}

.sentencingmodifiers {
  width: 962px;
  margin: center;
  vertical-align: bottom;
  text-align: center;
  height: center;
}
.prisonerabuse {
  width: 962px;
  margin: center;
  vertical-align: center;
  text-align: center;
  height: center;
}
.spacelaw {
  width: 962px;
  margin: center;
  vertical-align: bottom;
  text-align: center;
  height: center;
}
table.spacelaw {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid rgb(0, 0, 0);
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
td {
  border: 1px solid rgb(0, 0, 0);
}
table {
  border-top: 1px solid rgb(0, 0, 0);
}
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
td {
  border-bottom: 0.5px solid rgb(0, 0, 0);
}
table {
  width: 962px;
}
th {
  width: 20%;
}
td:first-child {
  width: 10%;
}

table.prisonerabuse {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 2px solid rgb(0, 0, 0);
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
table.sentencingmodifiers {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 2px solid rgb(0, 0, 0);
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}



/* 1. Модификация темы */

:root {
  --md-text-font: Inter, sans-serif;
  --md-default-fg-color--light: #fff;
}

body {
  font-family: "Inter", sans-serif !important;
}

.md-header {
}

.md-search__form {
  border-radius: 6px !important;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
  border-radius: 8px !important;
}

.md-footer__inner:not([hidden]) {
  display: flex;
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
  color: #fff;
}

.md-typeset h3 {
  font-weight: 500;
}

strong {
  font-weight: 600;
}

/* 2. Дополнительные стили таблиц */


/* 2.1. Таблицы ролей */

.ss220-roles-23721 {
  /* height: 128px !important; */
  min-height: 128px !important;
  max-height: 128px !important;
  max-width: 1920px !important;
}

.ss220-roles-23723 {
  border: 0rem;
  text-align: center;   
  font-size: .8rem;
}


.ss220-roles-23726 {
  font-size: .8rem;
}

.ss220-roles-23730 {
  border-color: #ff4d4d !important;
}

.ss220-roles-23732 {
  background-color: #ff4d4d1a !important;
}

.ss220-roles-23736 {
  width: 20%; !important;
  text-align: center;   
}

.ss220-roles-23739 {
  width: 80%; !important;
}

.ss220-roles-23740 {
  border-color: #4dfff0 !important;
}

.ss220-roles-23742 {
  background-color: #4dffff1a !important;
}

.ss220-roles-23750 {
  border-color: #7c4dff !important;
}

.ss220-roles-23752 {
  background-color: #7c4dff1a !important;
}

.ss220-roles-23760 {
  border-color: #fffc4d !important;
}

.ss220-roles-23762 {
  background-color: #fffc4d1a !important;
}

.ss220-roles-23770 {
  border-color: #ffa34d !important;
}

.ss220-roles-23772 {
  background-color: #ffa34d1a !important;
}

.ss220-roles-23780 {
  border-color: #4dff65 !important;
}

.ss220-roles-23782 {
  background-color: #4dff651a !important;
}

.ss220-roles-23790 {
  border-color: #9b9b9b !important;
}

.ss220-roles-23792 {
  background-color: #7e7e7e1a !important;
}

/* 2.2. Космический закон */

.ss220-spacelaw-21231 td {
  padding: 12px;
  text-align: center !important;
  border: 0px;
}

.ss220-spacelaw-21231 th {
  padding: 12px;
  text-align: center !important;
  border: 0px;
}

.ss220-spacelaw-21233 {
  width: 2%;
}

.ss220-spacelaw-21236 {
  width: 19.6%;
}

.ss220-spacelaw-21230-1 {
  background-color: rgb(105, 143, 67);
  color: #fff;
}

.ss220-spacelaw-21230-2 {
  background-color: rgb(166, 155, 56);
  color: #fff;
}

.ss220-spacelaw-21230-3 {
  background-color: #111;
  color: #fff;
}

.ss220-spacelaw-21230-4 {
  background-color: rgb(176, 101, 58);
  color: #fff;
}

.ss220-spacelaw-21230-5 {
  background-color: rgb(150, 53, 53);
  color: #fff;
}


/* 2.3. СРП */


/*
.ss220-cop-21231 td {
  padding: 14px !important;
  text-align: center !important;
  border: 0px;
  font-size: 32px !important;
  border: 1px #fff;
  border-left: .05rem solid var(--md-typeset-table-color) !important;
  width: 33%;
  line-height: 1.1em;
}
*/

.ss220-cop-21231 td {
  padding: 36px !important;
  text-align: center !important;
  border: 0px;
  font-size: 28px !important;
  border: 1px #fff;
  border-left: .05rem solid var(--md-typeset-table-color) !important;
  width: 33%;
  line-height: 1.1em;
}

.ss220-cop-21231 th {
  padding: 12px;
  text-align: center !important;
  border: 0px;
}

.ss220-cop-21231 a {
  color: #d3f5ff !important;
}

/* 2.4. Домашняя страница */

@media (min-width: 640px) {

.ss220-home-32131 {
  width: 50% !important;
}

.ss220-home-32134 {
  text-align: center;
}

}